<p>本站開設不久(2018/11/9)，表符資料量已達上限，不得不轉用月付費的架站空間orz...</p>

<p>如果你想小額支持本網站</p>

<p>或是鼓勵持續更新更多功能</p>

<p>都歡迎抖內本站哦</p>

<a href="https://www.paypal.me/papple23g/20" target="_blank"><button class="w3-button w3-blue w3-border w3-hover-white w3-round-large w3-padding-large"  style="width:150px"><b>NT&#160;&#160;20&#160;$</b></button></a><br>
<a href="https://www.paypal.me/papple23g/50" target="_blank"><button class="w3-button w3-blue w3-border w3-hover-white w3-round-large w3-padding-large"  style="width:150px"><b>NT&#160;&#160;50&#160;$</b></button></a><br>
<a href="https://www.paypal.me/papple23g/100" target="_blank"><button class="w3-button w3-blue w3-border w3-hover-white w3-round-large w3-padding-large"  style="width:150px"><b>NT&#160;&#160;100&#160;$</b></button></a><br>
<a href="https://www.paypal.me/papple23g/200" target="_blank"><button class="w3-button w3-blue w3-border w3-hover-white w3-round-large w3-padding-large"  style="width:150px"><b>NT&#160;&#160;200&#160;$</b></button></a><br>
<a href="https://www.paypal.me/papple23g/" target="_blank"><button class="w3-button w3-blue w3-border w3-hover-white w3-round-large w3-padding-large"  style="width:150px"><b>其他金額</b></button></a>
