<html>
<head>
    
<!--AD-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1303634049342464",
    enable_page_level_ads: true
});
</script>
<!--AD END-->

</head>

    <h1>welcome</h1>
    <p>132總之就是<span style="background-color:yellow"><b>歡迎</b></span></p>
    
    <h3>目前製作好的網站列表</h3>
    
    <ul>
      <li><a href="/PlurkEmojiHouse">PlurkEmojiHouse</a></li>
      <li><a href="/PlurkEmojiHouse/MyPlurkEmojiTable">MyPlurkEmojiTable</a></li>
    </ul>

    <h3>測試用的網站列表</h3>
    
    <ul>
      <li><a href="/testHttpResponse">testHttpResponse</a></li>
      <li><a href="/testRender">testRender</a></li>
      <li><a href="/testBrython">testBrython</a></li>
    </ul>
    
    </html>